
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,vietnamese,latin-ext);
body { margin:0; font-family:'Roboto', Arial, sans-serif; font-size:13px;}

a {color:#000; text-decoration:none; }
a:hover { color:#ff6600;}
img {
	max-width:100%;
	border:0;
	}	
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button {
	border: none;
    background-color: #fff;
    padding: 0;
}
.color-gplus {color:#e74c3c !important;}
.mg-10 {margin-bottom:10px !important;}
.fs-13 {font-size:13px !important;}
.jamb {
    color: #9D9D9D;
    padding: 0 5px;
}
.text {
	color:#000;
	font-size:12px;
}
.clear {clear:both;}
.main {
	max-width:1170px;
	width:100%;
	margin:auto;
}

.header {
	width:100%;
	min-height:146px;
	float:left;
}
.header .header-top {
	width:100%;
	height:36px;
	float:left;
	background-color:#f4f4f4;

}

.header-top .menu-top {
	width:30%;
	float:right;
	margin:0;
	padding:0;
	padding-top:10px;
}
.header-top .menu-top li {
	float:left;
	list-style:none;
	padding: 0 10px;
    border-right: 1px solid #DDDDDD;
}
.header-top .menu-top li:last-child {border-right:none;}
.header-top .menu-top li a {
	font-size:12px;
	color:#000;
    font-weight:500;
	display:inline-block;
}

.header-top .box-social {
	width:15%;
	float:left;
	padding-top:5px;
}

.box-social .social-network {
	float:left;
	padding-top: 5px;
	text-align:center;
	margin-right:10px;
	color:#999999; 
	font-size:13px;
}
.header .header-body {
	width:100%;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
}
.logo {
	width:230px;
	height:35px;
	float:left;
	margin-right:145px;
	margin-top:30px;
}

.box-qc-1 {
	width:600px;
	height:90px;
	display:inline-block;
}
.clear {clear:both;}


.navi {
	width:100%;
	height:40px;
	float:left;
	background-color:#e74c3c;
}

.navi .menu-bar {
	float:left;
	margin:0;
	padding:0;
}

.navi .menu-bar li {
	float:left;
	font-size:14px;
	font-weight:normal;
	list-style:none;
	line-height:40px;
	text-align:center;
	position:relative;
}

.navi .menu-bar li a {
	color:#FFF;
	padding: 0 15px;
	display:block;
}
.sub-menu {
	width:150px;
	height:auto;
	background-color:#C66;
	position:absolute;
	z-index:10;
	left:-35px;
	top:40px;
	margin:0;
	padding:0;
	display:none;
}
.sub-menu li {
	float:left;
	width:100%;
	list-style:none;
	line-height:normal;
	padding-top:5px;
	padding-left:5px;
}
.sub-menu li a {
	color:#FFF;
	font-size:13px;
}
.navi .menu-bar li:hover  .sub-menu {display:block;}
.banner {
	background:url(../images/background.png) no-repeat center center;
	width:100%;
	height:250px;
	float:left;
	background-size:cover;
}

.content {
	width:100%;
	float:left;
}
.menu-full-path {
	float:left;
	width:100%;
	margin:0;
	margin-top:-25px;
	padding:15px;
	background-color:#F4F4F4;
	height:50px;
	font-weight:500;
}
.menu-full-path li {
	list-style:none;
	float:left;
	text-align:center;
	font-size:14px;
	color:#000;
}

.box-left {
	width:72%;
	float:left;
	border-right:solid 1px #dddddd;
	padding-right:45px;
	margin-top:35px;
}

.box-left .box-hot {
	width:100%;
	float:left;
	padding-bottom:20px;
}
.listing .title {
	font-size:22px;
	text-align:left;
	margin:0;
	padding:0;
}
.listing .header-text {
	font-size:14px;
	text-align:left;
	margin:0;
	padding:0;
	margin-bottom:10px;
}
.box-hot .box-infor {
	width:100%;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
.box-infor .left {
	max-height:25px;
	float:left;
	font-size:12px;
	color:#bbbbbb;
	text-align:left;
}
.box-infor .photo {
	width:14px;
	height:16px;
}

.box-infor .right {
	max-width:295px;
	max-height:25px;
	float:right;
	font-size:12px;
	color:#bbbbbb;
	text-align:left;
}
.box-hot .view-more {
 	float: left;
    width: 100%;
    font-size: 12px;
    color: #BDBDBD;
    padding-bottom: 10px;
	margin:0;
}
.font-size-12 {
	font-size:12px;
	color:#000;
}
.font-color-grey {
	color:#b8b8b8;
	font-size: 12px;
	margin-bottom:10px;
}
.listing .detail {
	font-size: 14px;
	margin-top: 20px;
	text-align: left; 
}

.read-more {
	width:150px;
	background-color:#eeeeee;
	display:inline-block;
	margin-top:25px;
	color: #000;
    font-size:14px;
    padding: 10px 0;
}
.text-center {text-align:center;}

.box-sharing {
	width:100%;
	float:left;
}
.box-sharing .share-icon {
	margin:0;
	padding:0;
}
.box-sharing .share-icon li {
	float:left;
	font-size:14px;
	font-weight:bold;
	list-style:none;
	line-height:30px;
	text-align:center;
}
.fs-30 {font-size:30px !important;}
.box-sharing .share-icon li a {
	display:block;
}

.pull-right {float:right !important;}
.pull-left {float:left !important;}
.tagging {
	width:100%;
	float:left;
	padding-bottom:20px;	
}
.tagging a {
	background-color:#eeeeee;
	margin-right:5px;
	margin-bottom:5px;
	padding:5px 10px;
	display:inline-block;
	font-size:12px;
	color:#bbbbbb;
}
.box-comment {
	width:100%;
	float:left;
	margin-top:0;	
}
.box-comment .tab-cmt {
	background-color:#EEEEEE;
	margin:0;
	height:40px;
	padding:10px;
}
.box-comment .tab-cmt li {
	float:left;
	font-size:14px;
	list-style:none;
	line-height:20px;
	text-align:left;
	font-weight:500;
}
.box-comment .tab-cmt li a {
	color:#e9776b;
	display:inline-block
}
.font-color-black {
	color:#000 !important;
	font-weight:normal;
}
.box-comment .item-cmt {
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.box-comment .item-cmt .item{
	list-style:none;
	padding-top: 15px;
	float:left;
	width:100%;
}
.box-comment .item-cmt .reply {padding-left:80px;}
.box-comment .reply .box-detail {padding-left:13px;}
.avatar {
	border-radius:50%;
	width:73px;
	height:73px;
}
.box-comment .item-cmt .box-detail {
	float: right;
    width: 87%;
    color: #3D3D3D;
    font-size: 13px;
}

.box-comment .item-cmt .box-small {
	margin-left:85px;
}
.box-comment .item-cmt .box-small .small {
	border-bottom: 1px dotted #EDEDED;
	width:100%;
	display:inline-block;
	padding-bottom:15px;
}
.box-detail .text {
	margin:0;
	padding-bottom:5px;
}
.infor-left {
	float:left;
	font-size:12px;
}
.infor-left .name {
	margin: 0;
    color: #6B6B6B;
}
.infor-right {
	color: #717171;
	font-size: 12px;
	float:right;
}
.infor-right .like {
	float:left;
	margin:0;
}
.infor-right .icon-like {
	color: #3B5A9A;
}

.infor-right .rep {
	float: right;
    margin: 0;
}
.infor-right .icon-rep {
	color: #E74C3C;
}
.time-date {
	margin:0;
	font-size:11px;
	color: #9D9D9D;
    display: inline-block;
}
.box-comment .box-write-cmt {
	float:left;
	width:100%;
	padding-top:20px;
}
.box-comment .box-write-cmt .writting {
	float:left;
	width:100%;
	border: 1px solid #EDEDED;
    min-height: 100px;
}
.box-comment .button-reply {
	float: right;
    width: 100px;
    text-align: right;
    background-color: #E74C3C;
    color: #fff;
    padding: 10px 30px;
    margin-top: 10px;
}

.box-related-news, .general-topic {
	width:100%;
	float:left;
	padding-top:20px;
}
.box-related-news .box-title, .general-topic .box-title, .box-video .box-title, .list-topic .box-title {
	float:left;
	width:100%;
	border-bottom:1px solid #e9e9e9;
	position:relative;
	left:0;
	top:0;
	margin-bottom:15px;
}
.box-related-news .box-title:before, .general-topic .box-title:before, .box-video .box-title:before, .list-topic .box-title:before {
	float:left;
	width:60px;
	height:3px;
	background-color:#E74C3C;
	position:absolute;
	bottom:-1px;
	left:0;
	content:"";
}
.box-title .small-topic {
	float:right;
	width:50%;
	margin:0;
	padding:0;
	margin-top:10px;
}
.box-title .small-topic .item-1 {
	list-style:none;
	font-size:14px;
	float:right;
}
.box-title .small-topic .item-1 a{
	color:#bbbbbb;
}
.active {color:#e74c3c;font-weight:bold;}
.box-related-news .big-title, .general-topic .big-title, .box-video .big-title, .list-topic .big-title {
	float:left;
	padding-bottom:5px;
	margin:0;
	font-size:25px;
}
.listing-for-news {
	width:100%;
	float:left;
	margin:0;
	padding:0;
}
.listing-for-news .item {
	list-style:none;
	float:left;
	width:100%;
	padding-bottom:20px;
}
.item .text {
	padding-left:10px;
	font-size:14px;
}
.text .small-title {
	padding-top: 0;
	font-size: 15px;
	float: left;
	width: 100%;
	margin: 0;
	padding-bottom: 6px;
}
.text .small-title a {
	font-size:13px;
	color:#000;
}
.w-170 {width:170px !important;}
.margin-left-175 {margin-left:175px !important;}

.general-topic-content {
	width:100%;
	float:left;
}
.item-left {
	width:50%;
	float:left;
	padding-right:10px;
}
.item-left .box-text {
	float:left;
	width:100%;
	padding:0;
}
.item-left .small-title {
	margin: 0;
    padding-top: 10px;
    font-size: 19px;
    line-height: 23px;
	margin-bottom: 5px;
}
.item-right {
	width:50%;
	float:right;
	padding:left:10px;
}
.item-right .small-title {	
	padding-top: 0;
	font-size: 12px;
	float: left;
	width: 100%;
	margin: 0;
	padding-bottom: 6px;
}
.item-right .small-title a {color:#000;}

.box-right {
	width:28%;
	float:right;
	padding-left:15px;
	margin-top:30px;
}
.advertisement {width:100%;}
.box-intro {
	float:left;
	width:100%
}
.box-intro .box-text {
	float:left;
	width:100%;
}
.box-intro .title, .box-question .title, .box-question-week .title, .hot-news .title {
    float: left;
    width: 100%;
    padding-bottom: 5px;
	margin:0;
	font-size: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E9E9E9;
    position: relative;
	left:0;
	bottom:0;
}
.box-intro .title:before, .box-question .title:before, .box-question-week .title:before, .hot-news .title:before {
	float:left;
	width: 55px;
    height: 3px;
    background-color: #E74C3C;
	position: absolute;
	bottom:-1px;
	left:0;
	content:"";
}

.box-question, .box-question-week , .hot-news{
	float:left;
	width:100%;
}

.question .serial {
    font-size: 30px;
    color: #CCCCCC;
    float: left;
    width: 25px;
    border-right: 1px solid;
    padding-right: 10px;
}
.box-question .question, .box-question-week .question-week   {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.question li a, .question-week li a {
    color: #393939;
    font-weight: 700;
    font-size: 14px;
}
.question li, .question-week li {
    float: left;
    width: 100%;
    list-style: none;
    border-bottom: 1px dotted #EDEDED;
    padding-bottom: 8px;
    margin-bottom: 8px;
    overflow: hidden;
	padding-left:20px;
}
.question li, .question-week li:last-child {border:none;}
.question-week .item-2 {
	width:100%;
	float:left;
	position: relative;
    border-left: 1px solid #ccc;
}
.item-2 .number {
	border-radius:50%;
	height:20px;
	width:20px;
	background-color: #E74C3C;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:19px;
	position:absolute;
	left:-10px;
	top:0;
}
.question-week .small-title {
    margin: 0;
    padding-left: 25px;
}

.question-week .text {
    width: 100%;
    padding-left: 25px;
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
}
.box-advert {
	width:100%;
	float:left;
}
.hot-news .photo {
	width: 100px;
    height: 60px;
    float: left;
}
.listing-hot-news {
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.listing-hot-news .box-text {
	font-size: 12px;
    margin-left: 120px;
    max-height: 60px;
    overflow: hidden;
}
.listing-hot-news .item-3 {
    border-bottom: 1px dotted #E6E6E6;
    margin-bottom: 15px;
	float: left;
    width: 100%;
    list-style: none;
    padding-bottom: 15px;	
}

.listing-hot-news .item-3:last-child {border:none;}
.fs-12 {font-size:12px !important;}

.box-video { background-color:#F4F4F4;}
.box-video .box-title { margin-bottom:25px;}
.box-video .video-left {
    width: 75%;
}
.video-left .box-text-video {
	float:left;
	width:100%;
}
.video-left .small-title {
	margin: 0;
    padding-top: 10px;
    font-size: 19px;
    line-height: 23px;
	margin-bottom: 5px;
}
.video-left .small-title a {
	color:#000;
}
.box-video .video-right {
    width: 25%;
	padding-left:15px;
}
.box-video .video-right .box-text {
    float:left;
	width:100%;
}
.video-right .small-title {
	margin: 0;
	padding-top: 0px;
	font-size: 14px;
	line-height: 20px;
}
.video-right .small-title a {
	color:#000;
}
.cover { 
	float:left;
	width:100%;
	position:relative;
}
.cover .play {
	display:none;
	height:50px;
	width:50px;
	color:#fff;
	position:absolute;
	top:50%;
	margin-top:-25px;
	left:50%;
	margin-left:-25px;
	z-index:1;
	font-size:15px;
	
}
.cover:hover .play {display:block;}
.small-cover {
	height:140px;
	width:235px;
	overflow:hidden;
	margin-bottom:6px;
}
.list-topic {
	width:100%;
	float:left;
	padding-top:20px;
}
.row {
	margin-left:-10px;
	margin-right:-10px;
}
.list-topic .col {
	float:left;
	width:25%;
	padding: 0 10px;
}
.list-topic-content {
	width:100%;
	float:left;
}
.list-topic-content .box-item-4 {
	width:100%;
	float:left;
}

.list-topic-content .small-title {
	float:left;
	width:100%;
	font-size:15px;
	margin:0;
	padding:10px 0;
}
.list-topic-content .photo {
	width:100%;
	height:160px;
	overflow:hidden;
}
.listing-for-news .item-4 {
	font-size:12px;
	list-style:none;
	float:left;
	width:100%;
	padding-bottom:10px;
	padding-left:10px;
	position:relative;
}
.listing-for-news .item-4:before {
	position:absolute;
	width:3px;
	height:3px;
	background-color:#ff6600;
	left:0;
	top:3px;
	content:"";
}
.listing-for-news .item-4
.fs-17 {font-size:17px !important;}
.p-10 {padding:0 10px !important;}

.footer {
	width:100%;
	float:left;
}

.footer-top {
	width:100%;
	height:52px;
	float:left;
	background-color:#444444;
}
.footer-top .home-left {
	float:left;
	font-size:15px;
	color:#999999;
	margin-top:17px;
}
.footer-top .following-right {
	float:right;
	margin:0;
	padding:15px 0;
}
.footer-top .following-right li {
	float: left;
	padding: 0px;
	list-style: none;
	font-size: 28px;
	line-height: 18px;
}

.white-text {
	font-size:13px;
	color:#FFF;
	text-align:center;
}
.logo-fb {color:#3b5a9a;}
.logo-twitter {color:#29a9e1;}
.logo-gplus {color:#df4b38;}
.logo-youtube {color:#ed1c24;}

.footer-content {
	width:100%;
	float:left;
	background:url(../images/bg-footer.jpg) no-repeat center center;
	background-size:cover;
}
.footer-content .left-footer{
	width:20%;
	min-height:318px;
	float:left;
}
.left-footer .logo{
	font-size:25px;
	float:left;
	color:#FFF;
	padding-bottom:15px;
}
.left-footer .text {
	font-size:12px;
	color:#FFF;
	text-align:left;
}
.footer-content .right-footer {
	width:75%;
	min-height:318px;
	float:right;
	padding-top:30px;
	padding-left:30px;	
}
.footer-content .right-footer .title {
	float:left;
	width:100%;
	margin:0;
	padding:0 10px;
	padding-bottom:10px;
	font-size:13px;
	color:#FFF;
}
.footer-content .right-footer .box-item-5 {
	width:20%;
	float:left;
	padding: 10px;
}
.listing-for-news .item-5 {
	list-style:none;
	float:left;
	width:100%;
	padding-bottom:5px;
	font-size:12px;
}
.listing-for-news .item-5 a {color:#999999;}
.view-next {
	float:right;
	padding-top:3px;
}
.view-next .go-previous, .view-next .go-next {
	border:1px solid #E3E3E3;
	background-color:#FFF;
}
.view-next i {
	color: #EB695B;
    font-size: 11px;
}
.ml-10 {margin-left:10px; margin-top:-3px;}
/*table*/
@media only screen and (min-width: 768px) and (max-width: 970px) { 
	

}
/*mobile*/	
@media only screen and (min-width: 320px) and (max-width: 767px) {
	
	
}
				